.container-header {
  margin: 30px 30px 15px 30px;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.container-header h3, .container-header h4 {
    padding-left: 1rem;
}

.container-header h3 {
  padding-top: 0.7rem;
}

.container-header h4 {
    padding-bottom: 0.7rem;
  }

.mosque {
  /*Relevant part for image div*/
  position : absolute;
  z-index: 100;
  top: 20px;
  right: 60px;

  /*Less relevant part for image div*/
  width : 75px; 
  height : 75px;
}

.location {
  padding: 0;
  padding-left: 1rem;
  margin: 0 30px;
  color: #ffffff;
  opacity: 0.75;
}

@media screen and (max-width: 500px) {
  .container-header {
    margin-bottom: 30px;
  }
}